<div class="text-field">
<!--   <#%= form.label :first_name %><br/>
  <#%= form.text_field :first_name %></br>
  
  <#%= form.label :last_name %></br>
  <#%= form.text_field :last_name %></br> -->
  
  <%= form.label :email %></br>
  <%= form.text_field :email, type: 'email' %></br>

<!--   <#%= form.label :birthdate %></br>
  <#%= form.date_field :birthdate %></br> -->
</div>

<div class="password-field">
  <%= form.label :password %>
  <%= form.password_field :password %>
</div>
